<div class="mt-90px">
  <div class="row">
    <div class="trail-search-title text-uppercase text-center">
      <h1>Trail Search</h1>
      <p>Find your next trail</p>
    </div>
  </div>
  <div class="row">
    <form
      class="form-inline text-center"
      #locationForm="ngForm"
      (ngSubmit)="searchTrails(locationForm)"
    >
      <label class="sr-only" for="location">Location:</label>
      <input
        name="location"
        id="location"
        class=""
        placeholder="Enter a location"
        ngModel
      />
      <button type="submit" class="btn btn-sm btn-danger">Search</button>
    </form>
  </div>
  <div class="row">
    <div class="location-weather text-center">
      <h3>Current Weather in {{ weatherResult.location.name }}</h3>
      <ul>
        <li>
          Current Temp (&#8457;): {{ weatherResult.current.temp_f }} &#8457;
        </li>
        <li>
          Current Temp (&#8451;): {{ weatherResult.current.temp_c }} &#8451;
        </li>
        <li>Condition: {{ weatherResult.current.condition.text }}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <h3 *ngIf="trailResult.length > 0">Trail Results</h3>
    <div *ngFor="let trail of trailResult">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ trail.name }}
          </mat-panel-title>
          <mat-panel-description>
            <h5>Length: {{ trail.length }}</h5>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>{{ trail.description }}</div>
        <div class="d-flex">
          <a
            class="search-item-icons"
            [routerLink]="['/trail-detail', trail.id]"
            ><fa-icon [icon]="faCircleInfo"></fa-icon
          ></a>
          <a
            class="search-item-icons text-danger"
            (click)="addTrailToFavorites(trail.id)"
            ><fa-icon [icon]="faHeartCirclePlus"></fa-icon
          ></a>
          <a
            class="search-item-icons text-warning"
            (click)="removeTrailFromFavorites(trail.id)"
            ><fa-icon [icon]="faHeartCircleMinus"></fa-icon
          ></a>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>
