<img class="bg" src="/assets/img/bike-trail-through-woods.jpg" />
<div class="pt-90px">
  <h1 class="text-center" *ngIf="currentUser.userId !== -1">
    Welcome {{ currentUser.firstName }}
  </h1>
  <div class="row justify-content-center">
    <div class="trail-search-title text-uppercase text-center w-auto m-3 p-3">
      <h1>Trail Search</h1>
      <p>Find your next trail</p>
    </div>
  </div>
  <div class="row">
    <form
      class="form-inline text-center"
      #locationForm="ngForm"
      (ngSubmit)="searchTrails(locationForm)"
    >
      <label class="sr-only" for="location">Location:</label>
      <input
        name="location"
        id="location"
        class=""
        placeholder="Enter a location"
        ngModel
      />
      <button type="submit" class="btn btn-sm btn-danger">Search</button>
    </form>
  </div>

  <div *ngIf="trailResult.length > 0" class="row justify-content-center">
    <div class="location-weather text-center w-auto m-4 p-4">
      <h3>Current Weather in {{ weatherResult.location.name }}</h3>
      <div class="current-temprature-container d-flex justify-content-center">
        <div class="temperature-fahrenheit">
          {{ weatherResult.current.temp_f }}&#8457;
        </div>
        <div>{{ weatherResult.current.temp_c }}&#8451;</div>
      </div>

      <div class="mt-2">
        <div>{{ weatherResult.current.condition.text }}</div>
        <img src="{{ weatherResult.current.condition.icon }}" />
      </div>
    </div>
  </div>

  <ngb-alert
    #selfClosingAlert
    *ngIf="successMessage"
    type="success"
    (closed)="successMessage = ''"
    >{{ successMessage }}
  </ngb-alert>

  <div class="row">
    <h3 class="text-white" *ngIf="trailResult.length > 0">
      Trails Near {{ weatherResult.location.name }}
    </h3>
    <div *ngFor="let trail of trailResult">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ trail.name }}
            </mat-panel-title>
            <mat-panel-description>
              <h5>Length: {{ trail.length }}</h5>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>{{ trail.description }}</div>
          <div class="d-flex">
            <a
              class="search-item-icons first-search-item-return"
              [routerLink]="['/trail-detail', trail.id]"
            >
              <fa-icon class="fa-xl" [icon]="faCircleInfo"></fa-icon>
            </a>
            <div *ngIf="currentUser.email !== ''">
              <a
                class="search-item-icons text-danger"
                (click)="addTrailToFavorites(trail.id)"
              >
                <fa-icon class="fa-xl" [icon]="faHeartCirclePlus"></fa-icon>
              </a>
              <!-- <a
                class="search-item-icons text-warning"
                (click)="removeTrailFromFavorites(trail.id)"
              >
                <fa-icon class="fa-xl" [icon]="faHeartCircleMinus"></fa-icon>
              </a> -->
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
