.bg {
  position: fixed;
  opacity: 0.6;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

mat-expansion-panel {
  margin-top: 0.5%;
  
}

.location-weather ul {
  list-style-type: none;
}

.location-weather {
  background-color: #ccc;
  opacity: 0.8;
  border-radius: 20px;
}

.search-Title{
  
  font-size: 1rem;
  font-weight: bold;
  
}

@media(min-width: 765px){
  .search-Title{
    font-size: 2.9rem;
  }        
}

.search-Description{
  font-weight: bolder;
  font-size: 1rem;

}


.temperature-fahrenheit {
  margin-right: 1rem;
}

.search-item-icons:not(:first-child) {
  margin-left: 0.5rem;
}

.search-item-icons:hover {
  cursor: pointer;
}

ngb-alert {
  text-align: center;
}

.first-search-item-return {
  margin-right: 00.5rem;
}