mat-expansion-panel {
  margin-top: 0.5%;
}

.location-weather ul {
  list-style-type: none;
}

.search-item-icons:not(:first-child) {
  margin-left: 0.5rem;
}

.search-item-icons:hover {
  cursor: pointer;
}
