<div class="pt-90px">
  <div *ngFor="let trail of trailResult">
    <div class="row">
      <div class="detail-title-content text-center">
        <h1>{{ trail.name }}</h1>
        <p class="detail-description">{{ trail.description }}</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="card mb-3 p-0">
        <div class="row g-0">
          <div class="col-md-4" *ngIf="trail.thumbnail !== null">
            <img
              src="{{ trail.thumbnail }}"
              class="img-fluid rounded-start"
              alt="Picture of trail"
              height="300"
              width="300"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <b>Trail length: </b>{{ trail.length }}
                </li>
                <li class="list-group-item">
                  <b>Directions: </b>{{ trail.directions }}
                </li>
                <li class="list-group-item"><b>City: </b>{{ trail.city }}</li>
                <li class="list-group-item">
                  <b>Region: </b>{{ trail.region }}
                </li>
                <li class="list-group-item">
                  <b>Country: </b>{{ trail.country }}
                </li>
                <li class="list-group-item">
                  <b>Difficulty: </b>{{ trail.difficulty }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="trail-map">
      <google-map
        height="500px"
        width="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
      >
        <map-marker
          [position]="marker.position"
          [options]="marker.options"
        ></map-marker>
      </google-map>
    </div>
  </div>
  <button
    [routerLink]="['/trail-search']"
    class="btn btn-outline-primary mt-3 mb-3"
  >
    <fa-icon [icon]="faHandPointLeft"></fa-icon>
  </button>
</div>
