<footer class="footer bg-light text-center text-white">
  <div class="text-center p-2 footer__copyright d-flex">
    <!-- Copyright and disclaimer -->
    <div class="footer-text">
      &copy; 2022 The creators of this site are not responsible for any content
      received from any trails.
    </div>
    <!-- Social Media Icons -->
    <div class="footer-social-media">
      <a
        href="https://github.com/sschaner/FinalCapstoneBackend"
        target="_blank"
        class="btn btn-primary btn-floating m-1 social-icon"
        role="button"
        ><fa-icon [icon]="faGitHub"></fa-icon
      ></a>
      <a
        href="https://github.com/sschaner/FinalCapstoneFrontEnd"
        target="_blank"
        class="btn btn-primary btn-floating m-1 social-icon"
        role="button"
        ><fa-icon [icon]="faGitHub"></fa-icon
      ></a>
      <a
        href="https://www.linkedin.com/in/stevenschaner"
        target="_blank"
        class="btn btn-primary btn-floating m-1 social-icon"
        role="button"
        ><fa-icon [icon]="faLinkedIn"></fa-icon
      ></a>
      <a
        href="https://www.linkedin.com/in/zacharytata"
        target="_blank"
        class="btn btn-primary btn-floating m-1 social-icon"
        role="button"
        ><fa-icon [icon]="faLinkedIn"></fa-icon
      ></a>
    </div>
  </div>
</footer>
