<!-- 
<div class="pt-90px">
  <form name="addUserForm" #addUserForm="ngForm">
    <h3>Register as a User below.</h3>
    <p>
      As a registered user, you'll have the ability to save your favorite biking
      trails to ride them later.
    </p>
    
    <div class="form-group">
      <label for="userFirstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="userFirstName"
        placeholder="Enter first name"
        name="firstName"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <label for="userLastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="userLastName"
        placeholder="Enter last name"
        name="lastName"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <label for="userEmail">Email</label>
      <input
        type="email"
        class="form-control"
        id="userEmail"
        placeholder="Enter email"
        name="email"
        ngModel
        required
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary text-uppercase"
      (click)="saveNewUser(addUserForm)"
    >
      Submit
    </button>
  </form>
</div>  -->


<div class="pt-90px">
  <form [formGroup]="userFormGroup" name="addUserForm" (ngSubmit)="onSubmit()">
    <h3>Register as a User below.</h3>
    <p>
      As a registered user, you'll have the ability to save your favorite biking
      trails to ride them later.
    </p>
    <ngb-alert
    #selfClosingAlert
    *ngIf="successMessage"
    type="success"
    (closed)="successMessage = ''"
    >{{ successMessage }}
  </ngb-alert>
    <div class="form-group">
      <label>Email </label>
      <input type="text" formControlName="email" class="form-control" placeholder="email@email.com">
      <small class="form-text text-danger">{{userFormGroup.controls.email["errorMessage"]}}</small>
    </div>
    <div>
      <label>First Name </label>
      <input type="text" formControlName="firstName" class="form-control" placeholder="Enter first name">
      <small class="form-text text-danger">{{userFormGroup.controls.firstName["errorMessage"]}}</small>
    </div>
    <div>
      <label>First Name </label>
      <input type="text" formControlName="lastName" class="form-control" placeholder="Enter last name">
      <small class="form-text text-danger">{{userFormGroup.controls.lastName["errorMessage"]}}</small>
    </div>
  
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>


