<div class="pt-90px">
  <form
    [formGroup]="userFormGroup"
    (ngSubmit)="onSubmitRegister(userFormGroup.value)"
  >
    <h3>Register as a User below.</h3>
    <p>
      As a registered user, you'll have the ability to save your favorite biking
      trails to ride them later.
    </p>
    <ngb-alert
      #selfClosingAlert
      *ngIf="successMessage"
      type="success"
      (closed)="successMessage = ''"
      >{{ successMessage }}
    </ngb-alert>
    <ngb-alert
      #selfClosingAlert
      *ngIf="failureMessage"
      type="danger"
      (closed)="failureMessage = ''"
      >{{ failureMessage }}
    </ngb-alert>
    <div class="form-group">
      <label>First Name </label>
      <input
        type="text"
        formControlName="FirstName"
        class="form-control contact-form-input h-36"
        placeholder="Enter first name"
      />
      <div *ngFor="let validation of validationMessages.FirstName">
        <small
          class="form-text text-danger"
          *ngIf="
            userFormGroup.get('FirstName')?.hasError(validation.type) &&
            (userFormGroup.get('FirstName')?.dirty ||
              userFormGroup.get('FirstName')?.touched)
          "
          >{{ validation.message }}</small
        >
      </div>
    </div>

    <div class="form-group">
      <label>Last Name </label>
      <input
        type="text"
        formControlName="LastName"
        class="form-control contact-form-input h-36"
        placeholder="Enter last name"
      />
      <div *ngFor="let validation of validationMessages.LastName">
        <small
          class="form-text text-danger"
          *ngIf="
            userFormGroup.get('LastName')?.hasError(validation.type) &&
            (userFormGroup.get('LastName')?.dirty ||
              userFormGroup.get('LastName')?.touched)
          "
          >{{ validation.message }}</small
        >
      </div>
    </div>

    <div class="form-group">
      <label>Email: </label>
      <input
        type="email"
        formControlName="Email"
        class="form-control contact-form-input h-36"
        placeholder="Enter email"
      />
      <div *ngFor="let validation of validationMessages.Email">
        <small
          class="form-text text-danger"
          *ngIf="
            userFormGroup.get('Email')?.hasError(validation.type) &&
            (userFormGroup.get('Email')?.dirty ||
              userFormGroup.get('Email')?.touched)
          "
          >{{ validation.message }}</small
        >
      </div>
    </div>

    <button [disabled]="!userFormGroup.valid" class="btn btn-primary mt-3 mb-3">
      Submit
    </button>
  </form>
</div>
