<nav
  class="navbar navbar-expand-lg fixed-top navbar-light shadow p-3"
  [ngClass]="val == true ? 'gray' : ''"
>
  <a class="navbar-brand" [routerLink]="['/home']">
    <img
      src="/assets/img/logo.png"
      width="30"
      height="30"
      alt="Sunny Trails logo"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a
          class="nav-link text-uppercase"
          [routerLink]="['/home']"
          routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item active">
        <a
          class="nav-link text-uppercase"
          [routerLink]="['/trail-search']"
          routerLinkActive="active"
          >Trails</a
        >
      </li>
      <li *ngIf="currentUser.userId !== -1" class="nav-item active">
        <a
          class="nav-link text-uppercase"
          [routerLink]="['/app-user-details']"
          routerLinkActive="active"
          >Favorites</a
        >
      </li>
    </ul>
    <div *ngIf="currentUser.userId !== -1">
      Welcome {{ currentUser.firstName }}
    </div>
    <div class="d-flex align-items-center">
      <form
        *ngIf="currentUser.userId == -1"
        class="form-inline my-2 my-lg-0 d-flex"
        name="LoginUserForm"
        #LoginUserForm="ngForm"
      >
        <input
          class="form-control mr-sm-2"
          type="text"
          placeholder="email@something.com"
          aria-label="login"
          id="email"
          name="email"
          ngModel
        />
        <button
          class="btn btn-outline-success my-2 my-sm-0 text-uppercase"
          type="submit"
          (click)="login(LoginUserForm)"
        >
          login
        </button>
      </form>
      <button
        *ngIf="currentUser.userId !== -1"
        class="btn btn-outline-success my-2 my-sm-0 text-uppercase"
        (click)="logout()"
      >
        logout
      </button>
      <ul class="navbar-nav" *ngIf="currentUser.userId == -1">
        <li class="nav-item active">
          <a
            class="nav-link text-uppercase"
            [routerLink]="['/register']"
            routerLinkActive="active"
            >register</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
