.navbar-light .navbar-nav .nav-link.active {
  color: rgba(255, 184, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 184, 0, 0.55);
}

.modal-header, .modal-footer{
  background-color: #c96d63;
}



