<video autoplay muted loop id="homepageVideo">
  <source src="/assets/img/riding-through-mountains-hd.mp4" type="video/mp4" />
</video>
<div
  class="title-content text-center d-flex flex-column justify-content-center align-items-center"
>
  <h3 class="title-content__subtitle text-uppercase">find your new trail</h3>
  <h1 class="title-content__main-title text-uppercase">sunny - trails</h1>
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h3 class="text-uppercase">Portage Woods</h3>
      </div>
      <div class="carousel-item">
        <h3 class="text-uppercase">Thatcher Woods</h3>
      </div>
      <div class="carousel-item">
        <h3 class="text-uppercase">Salt Creek Singletrack</h3>
      </div>
    </div>
  </div>
</div>
