<video autoplay [muted]="true" loop id="homepageVideo">
  <source src="/assets/img/riding-through-mountains-hd.mp4" type="video/mp4" />
</video>
<div
  class="title-content text-center d-flex flex-column justify-content-center align-items-center"
>
  <h3 class="title-content__subtitle text-uppercase">find your next trail</h3>
  <h1 class="title-content__main-title text-uppercase">sunny - trails</h1>
  <ngb-carousel
    [showNavigationArrows]="false"
    [showNavigationIndicators]="false"
  >
    <ng-template ngbSlide>
      <h3 class="text-uppercase">Bike</h3>
    </ng-template>
    <ng-template ngbSlide>
      <h3 class="text-uppercase">Hike</h3>
    </ng-template>
    <ng-template ngbSlide>
      <h3 class="text-uppercase">Appreciate Nature</h3>
    </ng-template>
  </ngb-carousel>
</div>
