#homepageVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}

.title-content {
  min-height: 100vh;
  color: rgba(255, 184, 0, 1);
}

.title-content__subtitle,
.title-content__main-title,
.carousel-item h3 {
  margin: 0;
}

.title-content__main-title {
  letter-spacing: 0.5rem;
}