@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

* {
  font-family: "IBM Plex Sans", sans-serif;
}

.pt-90px {
  padding-top: 5.625rem;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 20%;
}

.modal-content {
  border: none;
}

.bg-register {
  background-color: #ccc;
}
